.todos {
  max-width: 405px;
  background: #fff;
  position: relative;
  padding-bottom: 50px;
  border-radius: 10px;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    padding: 20px 0;
  }

  &__total-count {
    font-weight: 600;
    color: rgb(66, 66, 66);
    padding: 5px 0 5px 20px;
  }
}
